<div class="container">
    <div class="hide" id="note_form">
      <div class="input select">
        <input type="text" name="title" id="title" placeholder="Note Title" size="41" autofocus>
        <br>
        <textarea type="text" name="content" id="content" placeholder="Note Content" rows="6" cols="40"></textarea>
        <br>
        <button type="submit" name="submit">Submit</button>
      </div>
    </div>

</div>
