<div class="container">
  <div class="hide" id="note_form">
    <div class="input_select">
      <form id="new_note">
        <input type="text" name="title" id="title" placeholder="Note Title" size="41" autofocus>
        <br>
        <textarea type="text" name="content" id="content" placeholder="Note Content" rows="6" cols="40"></textarea>
        <br>
        <button id="submit" type="submit" name="submit">Submit</button>
      </form>
    </div>
  </div>
  <div id="note_list">
    <ol>
      <% @notes.each do |note| %>
      <div class="notediv" id=<%=note.id%>>
      <%= "<li  class=\"title\">#{note.title}</li><ul class=\"content\"><li>#{note.content}" %>
      <div class="note_actions">
        <form action="/notes/<%=note.id%>" method="post">
          <input name="_method" type="hidden" value="put" />
          <input name="update" type="submit" value="Update">
        </form>
        <form action="/notes/<%=note.id%>" method="post">
          <input name="_method" type="hidden" value="delete" />
          <input id="note_delete" type="submit" value="Delete">
        </form>
      </div>
    </li></ul>
  </div>
    <% end %>
    </ol>
  </div>
</div>
